<div id="ace-sidebar">
	<button id="ace-sidebar-close" class="btn btn-icon btn-light btn-shade">
		<i class="fas fa-th-list"></i>
	</button>

	<div id="ace-sidebar-inner">
		<nav id="ace-main-nav-sm" class="visible-xs visible-sm text-center">
			<ul class="clear-list">
				<li><a href="/home">Home</a></li>
				<li><a href="/work_exp">Work_Exp</a></li>
				<li class="has-sub-menu">
					<a href="#">blog</a>
					<ul class="sub-menu">
						<li><a href="/blog/01">single</a></li>
						<li><a href="/blog/02">single image</a></li>
						<li><a href="/blog/03">single slider</a></li>
						<li><a href="/blog/04">single youtube</a></li>
						<li><a href="/blog/05">single vimeo</a></li>
						<li><a href="/blog/06">single dailymotion</a></li>
						<li><a href="/blog/07">single soundcloud</a></li>
						<li><a href="/blog/08">single video</a></li>
						<li><a href="/blog/09">single audio</a></li>
					</ul>
				</li>
				<li class="has-sub-menu">
					<a href="#">Gallery</a>
					<ul class="sub-menu">
						<li><a href="/gallery/01">typography</a></li>
						<li><a href="/gallery/02">components</a></li>
						<li><a href="/gallery/03">search</a></li>
						<li><a href="/gallery/04">404</a></li>
					</ul>
				</li>
				<li class="has-sub-menu">
					<a href="#">Testimonial</a>
					<ul class="sub-menu">
						<li><a href="/testimonial/01">typography</a></li>
						<li><a href="/testimonial/02">components</a></li>
						<li><a href="/testimonial/03">search</a></li>
						<li><a href="/testimonial/04">404</a></li>
					</ul>
				</li>
				<li><a href="/contact">contact</a></li>
			</ul>
		</nav>
		<!-- #ace-main-nav-sm -->

		<article class="ace-card bg-primary">
			<div class="ace-card-inner text-center">
				<img
					class="avatar avatar-195"
					src="images/My Logo/HeadPhoto_3.jpg"
					width="195"
					height="195"
					alt=""
				/>
				<h1>Kelvin Chen</h1>
				<p class="text-muted">BI Dev | BSA</p>
				<ul class="ace-social clear-list">
					<li>
						<a href="https://www.linkedin.com" target="_blank">
							<i class="fab fa-linkedin"></i>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com" target="_blank">
								<i class="fab fa-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://www.twitter.com" target="_blank">
							<i class="fab fa-twitter-square"></i>
						</a>
					</li>
					<li>
						<a href="https://www.google.com" target="_blank">
							<i class="fab fa-google-plus-square"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://www.pinterest.ca" target="_blank">
							<i class="fab fa-pinterest-square"></i>
						</a>
					</li>
				</ul>
			</div>
		</article>
		<!-- #ace-card -->

		<aside class="widget-area">
			<section class="widget widget_search">
				<form
					role="search"
					method="get"
					class="search-form"
					action="http://www.google.com"
				>
					<label>
						<span class="screen-reader-text">Search for:</span>
						<input
							type="search"
							class="search-field"
							placeholder="Search"
							value=""
							name="s"
						/>
					</label>
					<button type="submit" class="search-submit">
						<i class="fas fa-search"></i>
					</button>
				</form>
			</section>

			<section class="widget widget_posts_entries">
				<h2 class="widget-title">Top 3 Blog</h2>
				<ul>
					<li>
						<a class="post-image" href="#">
							<img
								src="images/My Logo/HeadPhoto_3.jpg"
								alt=""
							/>
						</a>
						<div class="post-content">
							<h3>
								<a href="/blog/01">contextual advertising</a>
							</h3>
						</div>
						<div class="post-category-comment">
							<a href="#" class="post-category">Website</a>
							<a href="#" class="post-comments">256 Views</a>
						</div>
					</li>

					<li>
						<a class="post-image" href="#">
							<img
								src="images/My Logo/HeadPhoto_3.jpg"
								alt=""
							/>
						</a>
						<div class="post-content">
							<h3>
								<a href="/blog/02">Step into senior work</a>
							</h3>
						</div>
						<div class="post-category-comment">
							<a href="#" class="post-category">MySQL</a>
							<a href="#" class="post-comments">1024 Views</a>
						</div>
					</li>

					<li>
						<a class="post-image" href="#">
							<img
								src="images/My Logo/HeadPhoto_3.jpg"
								alt=""
							/>
						</a>
						<div class="post-content">
							<h3><a href="/blog/03"></a>branding do you know who are</h3>
						</div>
						<div class="post-category-comment">
							<a href="#" class="post-category">Marketing Research</a>
							<a href="#" class="post-comments">264 Views</a>
						</div>
					</li>
				</ul>
			</section>

			<section id="tag_cloud-2" class="widget widget_tag_cloud">
				<h2 class="widget-title">Tags</h2>
				<div class="tagcloud">
					<a
					href="/gallery/01"
					class="tag-link-5 tag-link-position-1"
					title="1 topic"
					style="font-size: 1em;"
					>BI Dev</a
					>
					<a
						href="/gallery/02"
						class="tag-link-5 tag-link-position-1"
						title="1 topic"
						style="font-size: 1em;"
						>BSA</a
					>
					<a
						href="/gallery/03"
						class="tag-link-7 tag-link-position-2"
						title="1 topic"
						style="font-size: 1em;"
						>KPI Analyst</a
					>
				</div>
			</section>

			<section id="recent-posts-3" class="widget widget_recent_entries">
				<h4 class="widget-title">Recent Posts</h4>
				<ul>
					<li>
						<a href="/blog/04"
							>Global Travel And Vacations Luxury Travel On A Tight Budget</a
						>
						<div class="post-category-comment">
							<a href="" class="post-category">Photography</a>
							<a href="" class="post-comments">256 comments</a>
						</div>
					</li>
					<li>
						<a href="/blog/05">cooking for one</a>
						<div class="post-category-comment">
							<a href="" class="post-category">Work</a>
							<a href="" class="post-comments">256 comments</a>
						</div>
					</li>
					<li>
						<a href="/blog/06"
							>An Ugly Myspace Profile Will Sure Ruin Your Reputation</a
						>
						<div class="post-category-comment">
							<a href="" class="post-category">Photography</a>
							<a href="" class="post-comments">256 comments</a>
						</div>
					</li>
				</ul>
			</section>

			<section class="widget widget_categories">
				<h4 class="widget-title">Post Categories</h4>
				<ul>
					<li class="cat-item"><a href="">Audios</a>5</li>
					<li class="cat-item"><a href="">Daili Inspiration</a>2</li>
					<li class="cat-item"><a href="">Freelance</a>27</li>
					<li class="cat-item"><a href="">Links</a>5</li>
					<li class="cat-item"><a href="">Mobile</a>2</li>
					<li class="cat-item"><a href="">Phography</a>27</li>
				</ul>
			</section>
		</aside>
	</div>
	<!-- #ace-sidebar-inner -->
</div>
<!-- #ace-sidebar -->