<div id="ace-nav-scroll">
	<nav id="ace-nav" class="ace-nav">
		<ul class="clear-list">
			<li>
				<a href="/home" data-tooltip="Home"
					><img
						class="avatar avatar-42"
						src="images/My Logo/HeadPhoto_2.jpg"
						alt="Kelvin Chen HeadPhoto 2"
				/></a>
			</li>
			<li>
				<a data-tooltip="Work_EXP" href="/work_exp">
					<i class="fas fa-briefcase"></i>
				</a>
			</li>
			<li>
				<a data-tooltip="Blog" href="/blog">
					<i class="fas fa-blog"></i>
				</a>
			</li>
			<li>
				<a data-tooltip="Gallery" href="/gallery">
					<i class="fas fa-photo-video"></i>
				</a>
			</li>
			<li>
				<a data-tooltip="Testimonial" href="/testimonial">
					<i class="fas fa-vial"></i>
				</a>
			</li>
			<li>
				<a data-tooltip="Contact" href="/contact">
					<i class="far fa-id-card"></i>
				</a>
			</li>
		</ul>
	</nav>
</div>