<br />
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;Hello Everyone for whom enter this Page
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;The links on below is for you to take a look if you
  want start build you own website
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;And Introduce You Step Into the Design World！
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;I am a full stack web developer specializing mostly in
  JavaScript/Node.js
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;but also work with Python and Both MySQL/MongoDB
  Database
</p>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;If you got any suggestion you can post on Contact Page
  and Make Sure Leave you Email
</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Or you can reach me @ bdfd2005@gmail.com</p>
<a
  ><img
    src="images/My Logo/BDFD_signature.gif"
    alt="BDFD Signature"
    style="width:250px;height:100px;"
/></a>

<script>
  document.title = 'Blog Page';
</script>
