<script>
	document.title = 'Work Experience';
</script>

<div id="ace-content" class="ace-container-shift">
	<div class="ace-container">
		<%- include('../partials/small_navigation') %>
		<div class="ace-paper-stock">
			<main class="ace-paper clearfix">
				<div class="ace-paper-cont clear-mrg">
					<!-- START: PAGE CONTENT -->
					<div class="padd-box">
						<section class="section clear-mrg">
							<h2 class="title-lg text-upper">Working Experience</h2>
							<div class="padd-box-sm clear-mrg">
								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="Company Achivers Logo" src="images/My Exp/Achivers.jpg"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>
									<div class="ref-info">
										<div class="ref-author">
											<strong>Business Intelligence Developer</strong>
											<span>Achivers</span>
											<span>Jan 2020 - Current</span>
										</div>
										<blockquote class="ref-cont clear-mrg">
											<p>

											</p>
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-1 -->
								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="Company Achivers Logo" src="images/My Exp/Achivers.jpg"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>
									<div class="ref-info">
										<div class="ref-author">
											<strong>Business Strategic Analyst</strong>
											<span>Achivers</span>
											<span>Jan,2018 - Dec,2019</span>
										</div>

										<blockquote class="ref-cont clear-mrg">
											<p><i class="fab fa-gg"></i> Partnered with a PM(Project Manager) to lead
												our customers through the
												implementation process to configure an online employee engagement
												program that met the customer’s objectives.
											</p>
											<p><i class="fab fa-gg"></i> Consulted with customers to understand their
												requirements, objectives, and
												measures of success and offering a customized SaaS solution that will
												drive
												employee engagement, increase retention, and help achieve their business
												spobjectives
											</p>
											<p><i class="fab fa-gg"></i> Trained customers with best Practice and
												feature configurations to ensure
												their program is successful and expectations are exceeded
											</p>
											<p><i class="fab fa-gg"></i> Ensured a clear understanding of software
												capabilities and project timelines
												to guarantee desired launch date is met
											</p>
											<p><i class="fab fa-gg"></i> Lead the implementation from a technical
												standpoint: including the
												configuration of the program, automated data integration, Single Sign On
												integration, Quality Assurance and User Acceptance Testing, and
												coordination of internal technical resources and stakeholders throughout
												the
												launch process
											</p>
											<p><i class="fab fa-gg"></i> Involved in develop departmental tools and
												templates to improve operational
												efficiency</p>
											<p><i class="fas fa-trophy"></i> Launched over 20 online programs that
												ranged from 1,000 to 50,000+
												employees and from $120,000 to $3,000,000 in Annual Contract Value.</p>
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-2 -->
								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="Company Achivers Logo" src="images/My Exp/Achivers.jpg"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>

									<div class="ref-info">
										<div class="ref-author">
											<strong>Member Experience Coordinator</strong>
											<span>Achivers</span>
											<span>Sep,2016 - Dec,2017</span>
										</div>

										<blockquote class="ref-cont clear-mrg">
											<p><i class="fab fa-gg"></i> Provided world class service to the members of
												our programs
											</p>
											<p><i class="fab fa-gg"></i> Provided inbound and outbound calls to our
												customers to help members in
												resolving general inquiries, questions and complaints via phone or email
												in
												record time
											</p>
											<p><i class="fab fa-gg"></i> Provided product support by means of
												troubleshooting and problem solving
											</p>
											<p><i class="fab fa-gg"></i> Identified business challenges and
												collaboratively shape solutions that drive
												strategic initiatives and keep members informed of the Achievers product
											</p>
											<p><i class="fab fa-gg"></i> Worked in collaboration with the Operations
												Department to ensure that
												members receive their items on time
											</p>
											<p><i class="fab fa-gg"></i> Created and led various training sessions - for
												our mobile app and the
												process for logging system bugs and product improvements
											</p>
											<p><i class="fab fa-gg"></i> Proactively identified ways to improve the
												Customer Experience and raise
												the bar on our high standards
											</p>
											<!-- <p><i class="fab fa-gg"></i></p> -->
											<p><i class="fas fa-trophy"></i> Consistently achieves a 95% member
												satisfaction rating by leveraging
												exceptional professional communication and technical support skills
											</p>
											<p><i class="fas fa-trophy"></i> Achieved the top satisfaction score (98%)
												for onboarding new hires within
												my department
											</p>
											<!-- <p><i class="fas fa-trophy"></i></p> -->
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-3 -->

								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="University UofT Logo" src="images/My Exp/UofT.png"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>

									<div class="ref-info">
										<div class="ref-author">
											<strong>UNIVERSITY OF TORONTO (Downtown Campus)</strong>
											<p>Bachelor of Applied Science - BASc, Chem Engineering</p>
											<span>Sep,2011 - June,2016</span>
										</div>

										<blockquote class="ref-cont clear-mrg">
											<p>

											</p>
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-4 -->

								<div class="ref-box brd-btm hreview">
									<div class="ref-avatar">
										<img alt="University UofT Logo" src="images/My Exp/ACCI.jpg"
											class="avatar avatar-54 photo" height="54" width="54" />
									</div>

									<div class="ref-info">
										<div class="ref-author">
											<strong>Albert Campbell Collegiate Institute (ACCI)</strong>
											<strong>1550 Sandhurst Cir, Scarborough, ON M1V 1S6</strong>
											<p>Student </p>
											<span>Sep,2007 - June,2011</span>
										</div>

										<blockquote class="ref-cont clear-mrg">
											<p><i class="fas fa-trophy"></i> School Band : Sep 2010 - June 2011
											</p>
											<p><i class="fas fa-trophy"></i> Math Club : Sep, 2009 - June 2011
											</p>
											<p><i class="fas fa-trophy"></i> Swimming Team : March 2008 - June 2011</p>
											</p>
										</blockquote>
									</div>
								</div>
								<!-- .exp-box-5 -->
							</div>
							<!-- .padd-box-sm -->
						</section>
						<!-- .section -->

						<section class="section clear-mrg">
							<h2 class="title-lg text-upper">Interest</h2>
							<div class="padd-box-sm">
								<ul class="clients">
									<li>
										<i class="fas fa-pen-nib fa-5x"></i>
										<p>Calligraphy Lover</p>
									</li>
									<li>
										<i class="fas fa-palette fa-5x"></i>
										<p>Drawer</p>
									</li>
									<li>
										<i class="fas fa-guitar fa-5x"></i>
										<p>Guitar Player</p>
									</li>
									<li>
										<i class="fas fa-photo-video fa-5x"></i>
										<p>Video Editor</p>
									</li>
									<li>
										<i class="fas fa-images fa-5x"></i>
										<p>Photographer</p>
									</li>
									<li>
										<i class="fas fa-swimmer fa-5x"></i>
										<p>Swimmer</p>
									</li>
								</ul>
							</div>
							<!-- .padd-box-sm -->
						</section>
						<!-- .section -->
					</div>
					<!-- .padd-box -->

					<!-- END: PAGE CONTENT -->
				</div>
				<!-- .ace-paper-cont -->
			</main>
			<!-- .ace-paper -->
		</div>
		<!-- .ace-paper-stock -->
	</div>
	<!-- .ace-container -->
</div>
<!-- #ace-content -->